body,
.container {
    background-image: url('../../../../assets/pack.svg');
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    /* background-size: 1800px 1000px; */
    background-size: cover;
    background-repeat: no-repeat;
}

